{#
/**
 * @file
 * Term Tree Selector.
 */
#}
<form class="term-tree-selector" data-vocabulary="{{ vocabulary }}" data-level="{{ leaf_level }}">
    <select name="root">
        <option>Select {{ root_label }}</option>
    </select>
    <select name="leaf">
        <option>Select {{ leaf_label }}</option>
    </select>
    <button name="submit">{{ submit_label }}</button>
</form>
